<h1>welcome to quoting dojo</h1>
<form action="/new" method="post">
    Your name: <input type="text" name="name"><br>
    Your quote: <input type="text" name="quote"><br>
    <input type="submit" value="Add my quote"><br>
    
</form>
<a href="/quote"><button>Skip to quotes</button></a>